@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Combo&display=swap');
@import "tailwindcss";


:root {
  --background: #e3e0e0;
  --foreground: #333333;
  /* --headers: #1A1B41; */
  --headers: #202030;
  --buttons: #165054;
  --cards: #9AC2C5;
  --cta: #FFC66D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-headers: var(--headers);
  --color-buttons: var(--buttons);
  --color-cards: var(--cards);
  --color-cta: var(--cta);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1F1F2A;
    --foreground: #d5dddd;
    --headers: #a1a2ca;
    --buttons: #165054;
    --cards: #9AC2C5;
    --cta: #FFC66D;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.altbody {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.font-scripty {
  font-family: 'Combo', serif;
}

.font-head {
  font-family: 'Amarante', serif;
}

ul {
  list-style-type: square;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s ease;
  z-index: 1000; /* stay on top */
}

header.top {
  background-color: transparent;
}

header.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* translucent background */
}

header div {
  color: rgb(187, 185, 185);
  font-family: 'Amarante', serif;
  display: inline-block;       /* shrink width to text */
  position: relative;          /* for ::after positioning */
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Pseudo-element for underline */
header div::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;                 /* thickness of underline */
  width: 0;                     /* start hidden */
  background-color: white;
  transition: width 0.3s ease;
}

header div:hover {
  color: white;
}

header div:hover::after {
  width: 100%;                  /* swipe full width on hover */
}


@keyframes rise {
  0%   { transform: translateY(10px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.rise {
  animation: rise 1s ease-out forwards;
}