@import "tailwindcss";


:root {
  --background: #FDFDFC;
  --foreground: #1E1E1E;
  /* --headers: #1A1B41; */
  --headers: #14532D;
  --buttons: #256d41;
  --cards: #dedbdb;
  --cta: #B45309;
  --link: #D97706;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-headers: var(--headers);
  --color-buttons: var(--buttons);
  --color-cards: var(--cards);
  --color-cta: var(--cta);
  --color-link: var(--link);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-head: var(--font-head);
  --font-body: var(--font-body);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #E5E5E5;
    --headers: #22C55E;
    --buttons: #16A34A;
    --cards: #1C1C1C;
    --cta: #F59E0B;
    --link: #FBBF24;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), Helvetica, sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

h1 {
  font-family: var(--font-head), Helvetica, serif;
  color: var(--headers);
  font-weight: bold;
}

.altbody {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: square;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
  /* stay on top */
}

header.top {
  background-color: transparent;
}


header.scrolled {
  background-color: var(--background);
  box-shadow: 0px 0px 3px black;
  /* translucent background */
}

header div {
  color: var(--headers);
  font-family: 'Amarante', serif;
  display: inline-block;
  /* shrink width to text */
  position: relative;
  /* for ::after positioning */
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Pseudo-element for underline */
header div::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  /* thickness of underline */
  width: 0;
  /* start hidden */
  background-color: var(--foreground);
  transition: width 0.3s ease;
}

header div:hover {
  color: var(--buttons);
}

header div:hover::after {
  width: 100%;
  /* swipe full width on hover */
}


@keyframes rise {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.rise {
  animation: rise 0.5s ease-out forwards;
}

.swiper-pagination-bullet {
  background-color: #9ca3af !important;
}